* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  width: 100%;
  background-color: #c7c7c758;
}

header {
  width: 100%;
  height: auto;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #adadad;
  box-shadow: 0px 0px 10px #adadad;
}
header a {
  text-decoration: none;
}

header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 0px 0px 3px gray;
  font-size: 2rem;
  font-style: italic;
  color: #64485c;
}

nav {
  display: flex;
}

#form-search {
  width: auto;
  height: auto;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

#form-search:hover {
  border-radius: 50px;
  box-shadow: 0px 0px 4px #64485c;
  transition: 0.1s ease;
}

#search {
  border-style: none;
  outline: none;
  height: 2rem;
  width: 18rem;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 1rem;
  color: #83677b;
  font-size: medium;
  font-weight: 500;
}

.search-btn {
  width: 2rem;
  height: 2rem;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 0.2rem;
  background-color: #96869193;
  text-align: center;
  border-style: none;
}

.submit-btn:hover {
  background-color: #83677b;
  color: white;
  transition: 0.1s ease;
}

.top-news-headings {
  padding-left: 1rem;
  padding-top: 1rem;
  height: auto;
}

.top-news-headings h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #64485c;
  padding: 0 0rem 1rem 1rem;
}

.media-scroller {
  height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 27%;
  /* gap: 1rem; */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller::-webkit-scrollbar {
  display: none;
}

.scroller-news-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 21rem;
  width: 23rem;
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.5rem;
}

.news-img-info {
  min-height: 60%;
  margin-bottom: 0.5rem;
}
.news-img-info img {
  height: 12rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

.scroller-news-container p {
  font-size: smaller;
  text-align: justify;
  padding-inline: 0.2rem;
}

.new-info {
  display: flex;
  justify-content: space-between;
}

.new-info h2 {
  font-size: smaller;
  padding-inline: 0.2rem;
}
