* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  width: 100%;
  background-color: #c7c7c758;
}

header {
  width: 100%;
  height: auto;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #adadad;
  box-shadow: 0px 0px 10px #adadad;
}
header a {
  text-decoration: none;
}

header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 0px 0px 3px gray;
  font-size: 2rem;
  font-style: italic;
  color: #64485c;
}

nav {
  display: flex;
}

#form-search {
  width: auto;
  height: auto;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

#form-search:hover {
  border-radius: 50px;
  box-shadow: 0px 0px 4px #64485c;
  transition: 0.1s ease;
}

#search {
  border-style: none;
  outline: none;
  height: 2rem;
  width: 18rem;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 1rem;
  color: #83677b;
  font-size: medium;
  font-weight: 500;
}

.search-btn {
  width: 2rem;
  height: 2rem;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 0.2rem;
  background-color: #96869193;
  text-align: center;
  border-style: none;
}

.submit-btn:hover {
  background-color: #83677b;
  color: white;
  transition: 0.1s ease;
}

.banner-container {
  display: flex;
  width: 100%;
}

.carousel {
  width: 60%;
  background-color: black;
  margin: 1.5rem;
  border-radius: 1rem;
  position: relative;
}

.carousel ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* background-color: black; */
  opacity: 0.5;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-btn {
  position: absolute;
  background: none;
  font-size: 2rem;
  border: none;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.364);
  cursor: pointer;
}

.carousel-btn:hover {
  color: white;
  background-color: black;
}

.carousel > ul > li > p {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  margin: 1rem;
}
.carousel > ul > li > p > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.carousel > ul > li > h2 {
  position: absolute;
  top: 0;
  color: white;
  margin: 1rem;
}

.carousel-btn.next {
  right: 0.5rem;
}
.carousel-btn.prev {
  left: 0.5rem;
}
.catagories-main {
  width: 40%;
  height: auto;
  margin: 1.5rem;
}
.catagories-topic {
  height: auto;
  width: 90%;
  font-size: 2.5rem;
  padding-block: 1rem;
}
.catagories {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  background-color: #64485c;
  color: white;
  height: auto;
  width: 95%;
  /* justify-content: space-around; */
  /* align-items: center; */
  padding: 2rem 4rem;
  /* margin: 1rem; */
  border-radius: 1rem;
  /* gap: 1rem; */
}

.topic {
  width: 45%;
  font-size: 2rem;
  /* word-spacing: 3rem; */
}
.topic:hover {
  color: #d4d4d4;
  cursor: pointer;
}

.top-news-headings {
  padding-left: 1rem;
  padding-top: 1rem;
  height: auto;
}

.top-news-headings h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #64485c;
  padding: 0 0rem 1rem 1rem;
}

.media-scroller {
  height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23.5%;
  /* gap: 1rem; */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  /* padding-left: 0.5rem; */
}

.media-scroller::-webkit-scrollbar {
  display: none;
}

.scroller-news-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 21rem;
  width: 23rem;
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.5rem;
}

.news-img-info {
  min-height: 60%;
  margin-bottom: 0.5rem;
}

.news-img-info img {
  height: 12rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

.scroller-news-container p {
  font-size: smaller;
  text-align: justify;
  padding-inline: 0.2rem;
}

.new-info {
  display: flex;
  justify-content: space-between;
}

.new-info h2 {
  font-size: smaller;
  padding-inline: 0.2rem;
}
